<div class="container m-5">
  <div class="row mb-3">
    <div class="col-md-12">
      <div class=" d-flex justify-content-center align-items-center gap-2">
        <h4 class="mb-0 mr-2">AddMovies</h4>
        <button (click)="onOpen()" mat-mini-fab color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="movies.length>0;else noMovies">

    <div class="col-md-4 mb-4" *ngFor="let movie of movies">
      <app-movie-card [movie]="movie"></app-movie-card>
    </div>

  </div>
</div>


<ng-template #noMovies>
  <p class="alert alert-info">
    there is no movies add yet!!!
  </p>
</ng-template>